<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Total Stock</th>
          </tr>
        </thead>
        <tbody>
    <%itemList.forEach(item => {%>
        <tr>
            <th scope="row"><%= item.createrId %></th>
            <td><%= item.productname %></td>
            <td><%= item.description %></td>
            <td><%= item.price %></td>
            <td><%= item.totalStock %></td>
        </tr>
    <%})%>
        </tbody>
        <div class="abc">
            <a class="btn btn-dark btn-lg" href="/create_item" role="button">Create Item &nbsp; </a><br>

            <a class="btn btn-dark btn-lg" href="/homepage" role="button">Go back</a>
        </div>
      
        

        
        
    </table>
    
    
    
</body>
</html>