<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


  
    <script type="text/javascript">
		$(document).ready(function(){

			$( "#form5" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/do-delete',
					data: $('#form5').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form5')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>


</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID of Items</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Total Stock</th>
          </tr>
        </thead>
        <tbody>
     <%itemList.forEach(item => {%>
        <tr>
            <th scope="row"><%= item._id %></th>
            <td><%= item.productname %></td>
            <td><%= item.description %></td>
            <td><%= item.price %></td>
            
            <td><%= item.totalStock %></td>
            <td>
                <form action="/do-delete" method="post">
                    <input type="hidden" name="id" value="<%= item._id %>">  
                    <button class="btn btn-danger" type="submit">DELETE</button>
                </form>
            </td>
            
            
        </tr>
        
    <%})%>
        </tbody>
        <div class="abc">
            <a class="btn btn-dark btn-lg" href="/create_item" role="button">Create Item </a>

            <a class="btn btn-dark btn-lg" href="/profile" role="button">Go back to Profile </a>
        </div>
      

      
        

    
        
    </table>